<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Password Generator Main Page</title>
    <script>
        $(document).ready(function(){
            $("#login-form-link").click(function(){
                $(".register-form").hide();
                $(".login-form").show();

            });
            $("#register-form-link").click(function(){
                $(".login-form").hide();
                $(".register-form").show();
            });
        });
    </script>
</head>
<body>
<div class="main-block">
    <div class="login-signup">
        <div class="login-menu">
            <br/>
            <p class="log-reg-link"><a href="#"  id="login-form-link">Login</a></p>
        </div>
        <div class="signup-menu">
                <br/>
               <p class="log-reg-link"> <a href="#"  id="register-form-link" class="active">Register</a></p>
        </div>

    </div>
    <div class="form-holder">
        <form class="login-form" method="post" style="display: block;">
            {% csrf_token %}
            {{ login_form }}
            <!--{% for field in login_form %}-->
                <!--<div class="form-group">-->
                    <!--{{ login_form.errors }}-->
                    <!--{{ login_form.label_tag }}-->
                    <!--<br>-->
                    <!--&lt;!&ndash;{{ field }}&ndash;&gt;-->
                    <!--<input class="form-control" id="{{ field.id_for_label }}"-->
                           <!--placeholder="Enter {{ field.html_name }}" name="{{ field.html_name }}" >-->
                    <!--{% if field.help_text %}-->
                    <!--<p class="help">{{ field.help_text|safe }}</p>-->
                    <!--{% endif %}-->
                <!--</div>-->
            <!--{% endfor %}-->
            <!--<div class="form-group">-->
                <!--<label for="email">Email:</label>-->
                <!--<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="pwd">Password:</label>-->
                <!--<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">-->
            <!--</div>-->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" value="sign_in" class="btn btn-lg btn-primary">Login</button>
                </div>
            </div>
        </form>
        <form class="register-form" method="post" style="display: none;">
            {% csrf_token %}
            {{ signup_form }}
            <!--{% for r_field in signup_form %}-->
                <!--<div class="form-group">-->
                    <!--{{ r_field.errors }}-->
                    <!--{{ r_field.label_tag }}-->
                    <!--<br>-->
                    <!--&lt;!&ndash;{{ field }}&ndash;&gt;-->
                    <!--<input class="form-control" id="{{ r_field.id_for_label }}"-->
                           <!--placeholder="Enter email" name="{{ r_field.html_name }}" >-->
                    <!--{% if r_field.help_text %}-->
                    <!--<p class="help">{{ r_field.help_text|safe }}</p>-->
                    <!--{% endif %}-->
                <!--</div>-->
            <!--{% endfor %}-->

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" value="sign_up" class="btn btn-lg btn-primary">Register</button>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="reg-email">Email:</label>-->
                <!--<input type="email" class="form-control" id="reg-email" placeholder="Enter email" name="email">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="reg-pwd">Password:</label>-->
                <!--<input type="password" class="form-control" id="reg-pwd" placeholder="Enter password" name="pwd">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="confirm-pwd">Confirm Password:</label>-->
                <!--<input type="password" class="form-control" id="confirm-pwd" placeholder="Confirm password" name="pwd-confirm">-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6 col-sm-offset-3">-->
                    <!--<button type="submit" class="btn btn-lg btn-primary">Sign Up</button>-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>
</body>
</html>